@model Profixer.Models.DashboardDatas

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>Profixer - Dashboard</title>
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/img/favicon.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <!-- Feathericon CSS -->
    <link rel="stylesheet" href="~/css/feathericon.min.css">
    <link rel="stylesheet" href="~/plugins/morris/morris.css">
    <!-- Main CSS -->
    <link rel="stylesheet" href="~/css/style.css">
    <!--[if lt IE 9]>
      <script src="~/js/html5shiv.min.js"></script>
      <script src="~/js/respond.min.js"></script>
      <![endif]-->
</head>

<body>
    <div class="main-wrapper">
        <!-- Header -->
        <div class="header">
            <!-- Logo -->
            <div class="header-left">
                <a href="#" class="logo">
                    <img src="~/img/logo.png" alt="Logo">
                </a>
                <a href="#" class="logo logo-small">
                    <img src="~/img/logo-small.png" alt="Logo" width="30" height="30">
                </a>
            </div>
            <!-- /Logo -->
            <a href="javascript:void(0);" id="toggle_btn">
                <i class="fe fe-text-align-left"></i>
            </a>
            <div class="top-nav-search">
                <form>
                    <input type="text" class="form-control" placeholder="Search here">
                    <button class="btn" type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>
            <!-- Mobile Menu Toggle -->
            <a class="mobile_btn" id="mobile_btn">
                <i class="fa fa-bars"></i>
            </a>
            <!-- /Mobile Menu Toggle -->
            <!-- Header Right Menu -->
            <ul class="nav user-menu">
                <!-- App Lists -->
                <li class="nav-item dropdown app-dropdown">
                    <a class="nav-link dropdown-toggle" aria-expanded="false" role="button" data-toggle="dropdown"
                        href="#"><i class="fe fe-app-menu"></i></a>
                    <ul class="dropdown-menu app-dropdown-menu">
                        <li>
                            <div class="app-list">
                                <div class="row">
                                    <div class="col"><a class="app-item" href="#"><i
                                                class="fa fa-envelope"></i><span>Email</span></a></div>
                                    <div class="col"><a class="app-item" href="#"><i
                                                class="fa fa-calendar"></i><span>Calendar</span></a></div>
                                    <div class="col"><a class="app-item" href="#"><i
                                                class="fa fa-comments"></i><span>Chat</span></a></div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                <!-- /App Lists -->
                <!-- Notifications -->
                <li class="nav-item dropdown noti-dropdown">
                    <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                        <i class="fe fe-bell"></i> <span class="badge badge-pill">3</span>
                    </a>
                    <div class="dropdown-menu notifications">
                        <div class="topnav-dropdown-header">
                            <span class="notification-title">Notifications</span>
                            <a href="javascript:void(0)" class="clear-noti"> Clear All </a>
                        </div>
                        <div class="noti-content">
                            <ul class="notification-list">
                                <li class="notification-message">
                                    <a href="#">
                                        <div class="media">
                                            <span class="avatar avatar-sm">
                                            </span>
                                            <div class="media-body">
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="notification-message">
                                    <a href="#">
                                        <div class="media">
                                            <span class="avatar avatar-sm">
                                            </span>
                                            <div class="media-body">
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="notification-message">
                                    <a href="#">
                                        <div class="media">
                                            <span class="avatar avatar-sm">
                                            </span>
                                            <div class="media-body">
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="notification-message">
                                    <a href="#">
                                        <div class="media">
                                            <span class="avatar avatar-sm">
                                            </span>
                                            <div class="media-body">
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="topnav-dropdown-footer">
                            <a href="#">View all Notifications</a>
                        </div>
                    </div>
                </li>
                <!-- /Notifications -->
                <!-- User Menu -->
                <li class="nav-item dropdown has-arrow">
                    <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                        <span class="user-img"><img class="rounded-circle" src=@ViewBag.ImagePath width="31"
                                alt="Ryan Taylor"></span>
                    </a>
                    <div class="dropdown-menu">
                        <div class="user-header">
                            <div class="avatar avatar-sm">
                                <img src="~/img/profiles/avatar-01.png" alt="User Image"
                                    class="avatar-img rounded-circle">
                            </div>
                            <div class="user-text">
                                <h6>@ViewBag.UserName</h6>
                                <p class="text-muted mb-0">@ViewBag.RoleName <br>@ViewBag.MobileNo</p>
                            </div>
                        </div>
                        <a class="dropdown-item" href="#"><img src="~/img/change_password.png" width="20"> &nbsp; Change
                            Password</a>
                        <a class="dropdown-item" href="#"><img src="~/img/privacy_policy.png" width="20"> &nbsp; Privacy
                            Policy</a>
                        <a class="dropdown-item" href="#"><img src="~/img/change_password.png" width="20"> &nbsp;
                            Logout</a>
                    </div>
                </li>
                <!-- /User Menu -->
            </ul>
            <!-- /Header Right Menu -->
        </div>
        <!-- /Header -->

        <!-- Sidebar -->
        <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                        @{
                            var mainMenuIds = Model.DashboardResponse.RtnData.Select(x => x.MainMenuID).Distinct();
                        }
                        @foreach (var mainMenuId in mainMenuIds)
                        {
                            var faIcon = Model.DashboardResponse.RtnData.Where(v => v.MainMenuID == mainMenuId).Select(x =>
                            x.FaIcons).Distinct().FirstOrDefault();
                            var mainMenu = Model.DashboardResponse.RtnData.Where(v => v.MainMenuID == mainMenuId).Select(x =>
                            x.MainMenu).Distinct().FirstOrDefault();

                            <li class="submenu">
                                <a href="index.html"><i class="@faIcon"></i> <span>@mainMenu</span> <span
                                        class="menu-arrow"></span></a>
                                <ul style="display: none;">
                                    @{
                                        var subMenus = Model.DashboardResponse.RtnData.Where(x => x.MainMenuID == mainMenuId).ToList();
                                    }
                                    @foreach (var subMenu in subMenus)
                                    {
                                        <li><a href="@Url.Action(subMenu.ActionName, subMenu.Controller)"
                                               ><i class="fa fa-angle-double-right"
                                                    aria-hidden="true"></i>
                                                @subMenu.SubMenu</a></li>
                                    }
                                </ul>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        @RenderBody()
    </div>
    <!-- /Main Wrapper -->

    <!-- jQuery -->
    <script src="~/js/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap Core JS -->
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <!-- Slimscroll JS -->
    <script src="~/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/plugins/raphael/raphael.min.js"></script>
    <script src="~/plugins/morris/morris.min.js"></script>
    <script src="~/js/chart.morris.js"></script>
    <!-- Custom JS -->
    <script src="~/js/script.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
